<html>
    <head>
        {% stylesheets 'public/css/grid_style.css' filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>

    <body>
        {{ grid(grid) }}
    </body>
</html>
